<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test name="WardKaryakartaDataEntryTest" parallel="methods">
        <classes>
            <class name="runner.wardKaryakartaRunner"></class>
        </classes>
    </test> <!-- Test -->
    <test name="PradeshDataEntryTest" parallel="methods">
        <classes>
            <class name="runner.pradeshKaryakartaRunner"></class>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->